[submodule "external/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule "external/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k
[submodule "nvim/pack/plugins/start/oceanic-next-nvim"]
	path = nvim/pack/plugins/start/oceanic-next-nvim
	url = git@github.com:roflolilolmao/oceanic-next-nvim
[submodule "nvim/pack/plugins/start/nvim-compe"]
	path = nvim/pack/plugins/start/nvim-compe
	url = git@github.com:hrsh7th/nvim-compe.git
[submodule "nvim/pack/plugins/start/nvim-web-devicons"]
	path = nvim/pack/plugins/start/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "nvim/pack/plugins/start/lualine.nvim"]
	path = nvim/pack/plugins/start/lualine.nvim
	url = git@github.com:shadmansaleh/lualine.nvim.git
